.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  -webkit-animation: dash 2s linear forwards;
          animation: dash 2s linear forwards;
}

.header {
  height: 100vh;
  background-color: #69C2E0;
  background-image: none;
  position: fixed;
  margin-top: -500px;
  z-index: -1;
}
.header svg {
  margin-left: -10px;
  margin-top: 250px;
  display: inline-block;
  -webkit-animation-name: go;
          animation-name: go;
}
.header .path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  -webkit-animation: dash 2s linear forwards;
          animation: dash 2s linear forwards;
}
.header .logo-word {
  width: 250px;
  left: 250px;
  margin-left: -10px;
  margin-top: 280px;
  display: inline-block;
  transition: opacity .3s ease-out;
}
.header .logo-word:hover {
  opacity: 0.6;
}

.all {
  background-image: url("../images/re.png");
  background-repeat: repeat;
  margin-top: 500px;
  background-size: 220px;
  position: relative;
}

.active {
  color: #69C2E0;
}

.navi {
  top: 500px;
  height: 67px;
}
.navi ul {
  margin: 0px auto;
  list-style: none;
  text-align: right;
  padding: 0px;
  color: #69C2E0;
}
.navi ul a {
  display: inline-block;
  padding: 20px 30px;
  width: 120px;
  box-sizing: border-box;
}
.navi ul a div {
  transition: opacity .2s ease-out;
}
.navi ul a span {
  transition: opacity .2s ease-out;
  opacity: 0;
  color: #aaa;
  font-size: 14px;
  position: absolute;
  top: 23px;
  left: 30px;
  z-index: 10;
}
.navi ul a:hover div {
  opacity: 0;
}
.navi ul a:hover span {
  opacity: 1;
}
.navi.fixed {
  opacity: 0;
}

.navi-fixed {
  position: fixed;
  z-index: 20;
  top: 0px;
  height: 100px;
  width: 100%;
}
.navi-fixed img {
  height: 37px;
  padding-top: 10px;
  box-sizing: border-box;
}
.navi-fixed ul {
  background-color: rgba(255, 255, 255, 0.5);
  margin: 0px auto;
  list-style: none;
  text-align: center;
  padding: 0px;
  color: #aaa;
}
.navi-fixed ul a {
  display: inline-block;
  padding: 20px 30px;
  width: 120px;
  box-sizing: border-box;
}
.navi-fixed ul a div {
  transition: opacity .2s ease-out;
}
.navi-fixed ul a span {
  transition: opacity .2s ease-out;
  opacity: 0;
  color: #69C2E0;
  font-size: 14px;
  position: absolute;
  top: 23px;
  left: 30px;
  z-index: 10;
}
.navi-fixed ul a:hover div {
  opacity: 0;
}
.navi-fixed ul a:hover span {
  opacity: 1;
}
.navi-fixed.fixed {
  display: block;
}

.content {
  height: auto;
  min-height: 220px;
  margin: 0px auto;
  max-width: 1200px;
  background-image: none;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 1.6;
  color: #aaa;
  position: relative;
}
.content.about a {
  font-size: 16px;
}
.content.about div:nth-child(2) {
  font-size: 16px;
}
.content.event span {
  margin-right: 15px;
  width: 120px;
  color: #555;
  font-size: 18px;
  font-weight: 800;
}
.content.event div {
  border-left: 30px solid #69C2E0;
  height: 30px;
  margin: 10px 0px;
  line-height: 30px;
  padding-left: 15px;
}
.content.event div:nth-child(odd) {
  border-left: 30px solid #F1D92F;
}
.content.works {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.content.works svg {
  width: 200px;
  height: 200px;
}
.content.works img {
  width: 70%;
  text-align: center;
  transition: -webkit-filter .2s ease-out, filter .2s ease-out;
}
.content.works img:hover {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}
.content.works .team {
  background-color: #fff;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 30%;
  box-sizing: border-box;
  padding: 25px 20px 0px 20px;
  margin: 10px;
  height: 550px;
  text-align: left;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
}
@media screen and (min-width: 1280px) {
  .content.works .team {
    height: 550px;
  }
}
@media screen and (max-width: 960px) and (min-width: 560px) {
  .content.works .team {
    width: 45%;
    height: 580px;
  }
}
@media screen and (max-width: 560px) {
  .content.works .team {
    width: 95%;
    height: 620px;
  }
}
.content.works .team:hover, .content.works .team:active {
  box-shadow: inset 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
}
.content.works .team .team-logo {
  height: 80px;
}
.content.works .team h3 {
  margin: 20px auto;
}
.content.works .team .team-content {
  height: 210px;
  min-height: 210px;
  font-size: 12px;
  line-height: 1.5;
}
.content.works .team img {
  text-align: center;
  margin: 0px auto;
  vertical-align: bottom;
}

.content-float {
  position: relative;
}
.content-float.fixed {
  margin-top: 67px;
}

.map-body {
  width: 100%;
  position: relative;
  padding: 0px;
  height: 400px;
}

.map {
  height: 500px;
}

@-webkit-keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
