.path {
		  stroke-dasharray: 1000;
		  stroke-dashoffset: 1000;
		  animation: dash 2s linear forwards;
		}

.header{
	height: 100vh;
	// background-color: #F1D92F;
	width: 100%;
	background-image: url("../images/white-bg.jpg");
	background-size: cover;
	// background-image: none;
	position: fixed;
	margin-top: -650px;
	z-index: -1;
	display: flex;
	justify-content: space-between;
	align-items: center;
	@media screen and (max-width: 960px) {
		margin-top: -350px;
	}

		svg {
			margin-left: -10px;
			display: inline-block;
			margin-top: -40px;
			// position: absolute;
			animation-name: go;
			@media screen and (max-width: 960px) {
				// display: none;
				margin-top: -350px;
			}
			@media screen and (max-width: 660px) {
				opacity: 0;
			}
		}

		.path {
		  stroke-dasharray: 1000;
		  stroke-dashoffset: 1000;
		  animation: dash 2s linear forwards;
		}

		.logo-word {
			display: inline-block;
			@media screen and (max-width: 960px) {
				// margin-top: -350px;
				width: 100%;
				top: 100px;
				right: 0;
				position: absolute;
				text-align: right;
				// float: right;
			}
			img{
				height: 150px;
				display: inline-block;
				transition: opacity .3s ease-out;
			}	
			span {
				position: absolute;
				right: 30px;
				margin-top: -30px;
				opacity: 0;
				font-size: 14px;
				text-align: right;
				color: #aaa;
				transition: opacity .3s ease-out;
			}
			&:hover {
				img {
					opacity: 0.7;
				}
				span {
					opacity: 1;
				}

			}

		}
}

.all {
	// background-image: url("../images/re.png");
	background-color: #69C2E0;
	background-repeat: repeat;
	margin-top: 650px;
	background-size: 220px;
	width: 100%;
	position: relative;
	@media screen and (max-width: 960px) {
		margin-top: 350px;
	}
}

.active {
	color: #69C2E0;
}
.navi {
	top: 500px;
	height: 0px;
	ul {
		margin: 0px auto;
		list-style: none;
		text-align: center;
		padding: 0px;
		// color: #aaa;
		color: #fff;
		a {
			display: inline-block;
			padding: 20px 30px;
			width: 120px;
			box-sizing: border-box;
			div {
				transition: opacity .2s ease-out;
				font-weight: 800;
			}
			span {
				transition: opacity .2s ease-out;
				opacity: 0;
				color: #F1D92F;
				font-size: 14px;
				position: absolute;
				top: 23px;
				left: 30px;
				z-index: 10;
				@media screen and (max-width: 960px) {
						opacity: 0;
				}
			}
			&:hover {
				div {
					opacity: 0;
					@media screen and (max-width: 960px) {
						opacity: 1;
						color: #F1D92F;
					}
				}
				span {
					opacity: 1;
					@media screen and (max-width: 960px) {
						opacity: 0;
					}
				}

			}
			@media screen and (max-width: 960px) {
				padding: 10px 10px;
				width: auto;
				font-size: 20px;
			}
			@media screen and (max-width: 660px) {
				padding: 10px 3px;
				font-size: 12px;
			}
		}
	}
	&.fixed {
		opacity: 0;
	}
}

.navi-fixed {
	position: fixed;
	z-index: 20;
	top: 0px;
	// background-size: 100vw;
	height: 100px;
	// width: 100vw;
	width: 100%;
	img {
		height: 20px;
		padding-top: 10px;
		box-sizing: border-box;
	}
	ul {
		background-color:rgba(256,256,256,0.9);
		// background-color: #69C2E0;
		margin: 0px auto;
		list-style: none;
		text-align: center;
		padding: 0px;
		color: #aaa;
		a {
			display: inline-block;
			padding: 20px 30px;
			width: 120px;
			font-size: 16px;
			box-sizing: border-box;

			// color: #fff;
			div {
				transition: opacity .2s ease-out;
				font-weight: 800;
			}
			span {
				transition: opacity .2s ease-out;
				opacity: 0;
				color: #69C2E0;
				// color: #F1D92F;
				font-size: 14px;
				position: absolute;
				top: 23px;
				left: 30px;
				z-index: 10;

			}
			&:hover {
				div {
					opacity: 0;
					@media screen and (max-width: 960px) {
						opacity: 1;
						color: #F1D92F;
					}
				}
				span {
					opacity: 1;
					@media screen and (max-width: 960px) {
						opacity: 0;
					}
				}

			}
			@media screen and (max-width: 960px) {
				padding: 10px 10px;
				width: auto;
				font-size: 20px;
			}
			@media screen and (max-width: 660px) {
				padding: 10px 0px;
				font-size: 14px;
			}

		}
	}
	&.fixed {
		display: block;
	}
}


.content {
	height: auto;
	min-height: 180px;
	margin: 0px auto;
	// width: 90%;
	// max-width: 1200px;
	background-image: none;
	// padding: 30px;
	box-sizing: border-box;
	font-size: 14px;
	line-height: 1.6;
	color: #666;
	position: relative;
	text-align: center;
	&.about {
		// text-align: right;
		a {font-size: 16px;}
		div {
			max-width: 500px;
			width: 40%;
			color: #fff;
			margin: 0 auto;
			text-align: left;
			@media screen and (max-width: 960px) {
				width: 90%;
			}
			p {
				margin-bottom: 10px;
				border-left: 10px solid #F1D92F;
				padding-left: 15px;
			}

		}
	}
	&.event {
		// margin: 0px auto;
		color: #fff;
		width: 40%;
		max-width: 500px;
		@media screen and (max-width: 960px) {
			width: 90%;
		}

		div {
			&:nth-child(odd) {
				border-left: 10px solid #F1D92F;
			}
			border-left: 10px solid #999;
			min-height: 30px;
			margin: 10px 0px;
			line-height: 30px;
			padding-left: 15px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			@media screen and (max-width: 960px) {
				// display: block;
			}
			span {
				margin-right: 15px;
				width: 50%;
				color: #fff;
				font-size: 18px;
				font-weight: 800;
				text-align: left;
				p {
					font-size: 12px;
					margin-left: 5px;
					display: inline;
				}
				@media screen and (max-width: 960px) {
					width: 100%;
				}

			}
			p {
				font-size: 16px;
				width: 50%;
				text-align: left;
				@media screen and (max-width: 960px) {
					width: 100%;
				}
			}
		}
	}
	&.works {
		display: flex;
		flex-direction: row;
		// flex-direction: column;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: flex-start;

		svg {
			width: 200px;
			height: 200px;
		}
		img {
				width: 70%;
				text-align: center;
				// filter: blur(4px);
				// filter: grayscale(100%);
				transition: filter .2s ease-out;
				&:hover {
					// filter: blur(0px);
					filter: grayscale(0%);

				}
			}
		.team {
			// margin: 0px auto;
			background-color: #efefef;
			position: relative;
			flex-grow: 1;
			width: 30%;
			box-sizing: border-box;
			padding: 25px 20px 0px 20px;
			margin: 10px;
			// display: inline-flex;
			height: 550px;
			text-align: left;
			display: flex;
			flex-direction: column;
			// align-items: center;
			align-items: flex-end;
			justify-content: space-between;
			transition: background-color .5s ease-out;
			// cursor: pointer;
			
			box-shadow: 0px 3px 6px rgba(0,0,0,0.16),0px 3px 6px rgba(0,0,0,0.23);
			
			@media screen and (max-width: 960px) {
				width: 100%;
			}

			

			&:hover,&:active,&:focus {
				// box-shadow: inset 0px 3px 6px rgba(0,0,0,0.16),0px 3px 6px rgba(0,0,0,0.23);
				background-color: #999;
				h3 {
					color: #fff;
					font-size: 16px;
					margin: 10px auto;
					margin-bottom: 0px;
				}
				.team-content{
					opacity: 1;
				}
				.fb-icon {
					display: block;
				}
				.team-logo {
					height: 80px;
					margin-top: 0px;
				}
				.team-photo {
					width: 70%;
					margin-top: 0px;
					max-width: 300px;
					
				}

			}
			.team-logo {
				height: 120px;
				margin-top: 20%;
				transition: height .3s ease-out, margin-top .3s ease-out;
			}
			.fb-icon {
				// opacity: 0;
				color: #ececec;
				width: 14px;
				display: none;
				transition: display .3s ease-out;
				cursor: pointer;
				float: right;
				margin: 2px;
				transition: filter .2s ease-out, margin .2s ease-out, width .2s ease-out;
				
				&:hover {
					filter: brightness(80%);
					margin: 0px;
					width: 18px;
				}
				
			}
			a {
				font-size: 22px;
				text-align: center;
				display: inline;
				line-height: 30px;
				margin: 0 auto;
				cursor: pointer;
			}
			h3 {
				margin: 20px auto;
				// margin-top: 30%;
				color: #666;
				font-size: 22px;
				line-height: 30px;
				transition: font-size .5s ease-out, margin .5s ease-out;
			}
			.team-content {
				height: 210px;
				min-height: 170px;
				font-size: 14px;
				line-height: 1.5;
				margin-top: 10px;
				opacity: 0;
				color: #ececec;
				transition: opacity .3s ease-out;

			}
			img {
					text-align: center;
					margin: 0px auto;
					vertical-align: bottom;
				}
			.team-photo {
				width: 100%;
				margin-top: -300px;
				transition: width .5s ease-out, margin-top .5s ease-out;
				max-width: 400px;
			}
			
			div {
				// width: 30%;
				// display: inline;
			}
			@media screen and (max-width: 960px) {
				
				background-color: #999;
				h3 {
					color: #fff;
					font-size: 16px;
					margin: 10px auto;
					margin-bottom: 0px;
				}
				.team-content{
					opacity: 1;
				}
				.fb-icon {
					display: block;
				}
				.team-logo {
					height: 80px;
					margin-top: 0px;
				}
				.team-photo {
					width: 70%;
					margin-top: 0px;
					max-width: 300px;
					
				}
			}
			
		}
	}
	&.contact {
		a {
			transition: filter .2s ease-out;
			img {
				width: 50px;
			}
			&:hover {
				filter: brightness(80%);
			}
		}
	}
}
.content-float {
	position: relative;
	&.fixed {
		margin-top: 67px;
	}
}

.map-body {
	width: 100%;
	position: relative;
	padding: 0px;
	height: 400px;
	max-width: auto;
	a {
		font-size: 12px;
		color: #69C2E0;
		&:hover {
			color: #777;
		}
	}
}
.content.map {
	// height: 500px;
	min-height: auto;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}




