

body
{
	background-color: #69C2E0;
	font-family: 'Open Sans Condensed', sans-serif;
	margin: 0px;
	color: #777;
	font-size: 18px;
	letter-spacing: 2px;
	font-weight: 600;
	box-sizing: border-box;
}

a {
	color: #aaa;
	border: none;
	font-size: 20px;
	color: inherit;
	text-decoration: none;
    position: relative;
    

}
section {
	background-image: url("../images/white-bg.jpg");
	background-repeat: repeat;
	// margin-top: 500px;
	// background-size: 100vw;
	// height: 100vh;
	// background-clip: 
}





